body {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 500px;
  margin: auto;
  justify-items: center;
}

.display {
    width: 490px;
}

.buttons-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
